.part1{
    color: white;
    background-color: black;
}

.red{
    color: red;
    background-color: white;
}
.part2, .part3{
    color: seagreen;
}
.dark-background{
    background-color: darkred;
}
